.posts {
  font-family: Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.load-more {
  margin: 2em;
}

.load-more-button {
  display: inline-block;
  font-family: Verdana, Arial, sans-serif;
  padding: 0.5rem 1rem;
  border: 0px;
  background: rgb(65,78,100);
  color: white;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer
}

body {
  font-family: Verdana, Arial, sans-serif;
  margin: 0 !important;
}

#header-title a, #header-title a:link, #header-title a:visited {
  text-decoration: none;
  color: rgb(221, 221, 221);        
}

#top {
  margin-top: 0 !important;
  padding-top: 0 !important;
  background-color: rgb(8, 100, 187);
  height: 3em;
  top: 50%;
  vertical-align: middle;
  padding-left: 2em;
  display: flex;
  align-items: center;
}