.post-info {
  font-size: 14px;
  font-family: Verdana, Arial, sans-serif;
  color:rgba(0, 0, 0, 0.55);
}

.post-title a {
  text-decoration: none;
  color: rgb(65, 78, 100)
}

.post-title {
  margin: 0;
}

.tag-link {
  display: inline-block;
  margin: 2px;
}

.tag-link a, .tag-link a:link {
  color:rgba(0, 0, 0, 0.55);
}

.content {
  margin: 1em;
}

.post {
<<<<<<< HEAD
  border: 1px solid rgb(175, 175, 175);
  box-shadow:Z 5px #dddddd;
  box-shadow: 2px 2px 2px 1px rgba(197, 197, 199, 1);
=======
  border: 1px solid rgba(175, 175, 175, 0.3);
  box-shadow:Z 5px #dddddd;
  box-shadow: 2px 2px 2px 1px rgba(197, 197, 199, 0.2);
>>>>>>> quickblog/master
  margin: 2em;
  padding: 1em;
}
